*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-div{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: grid;
    place-items: center;
}

.music-container{
    width: 35rem;
    height: 55rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgb(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;

}

.music-container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: black;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.music-container #artist{
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.img-container{
    width: 25rem;
    height: 25rem;
    margin: auto;

}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}

.music-controls{
        width: 20rem;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
        margin-top: 5rem;
}

.music-controls .fas{
    color: rgba(0,0,0,0.9);
    font-size: 4rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.music-controls .main-button{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}


.music-controls .fas:hover{
    color: violet;
}

.music-controls .fa-play:hover{
    background-color: white;
    color: black;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}
/*animathon*/


.anime {
    animation: rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}